*{
    margin: 0;
    padding: 0;
}
/*PANTALLA GRANDE*/
@media only screen and (min-width:950px){
    /* Cabecera */
    #boca_shops{
        height: 150px;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
    }
    #boca_shops_img{
        height: 150px;
    }
    nav{
        height: 50px;
        background-color: rgb(5, 5, 131);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #nav_item1{
        list-style-type: none;
        width: 20%;
        text-align: center;
    }
    #nav_item2{
        list-style-type: none;
        width: 20%;
        text-align: center;
    }
    #nav_item3{
        list-style-type: none;
        width: 20%;
        text-align: center;
    }
    #nav_item4{
        list-style-type: none;
        width: 20%;
        text-align: center;
    }
    #nav_item5{
        list-style-type: none;
        width: 20%;
        text-align: center;
    }
    .link_paginas{
        text-decoration: none;
        font-size: 20px;
        color: #fff;
    }
    /*Formato Tabla*/
    table{
        margin: 10px;
        border: 1px solid black;
        height: 100%;
        width: 70%;
    }
    th{
        border: 1px solid black;
        font-size: 90%;
        text-align: center;
        padding: 2px;
    }
    td{
        border: 1px solid black;
        font-size: 90%;
        text-align: center;
        padding: 2px;
    }
    /* Contenido index */
    #contenido_index_area1{
        width: 90%;
        margin:auto
    }
    #contenido_index_titulo{
        font-size: 50px;
        margin: 10px;
    }
    #contenido_index_parrafo{
        font-size: 25px;
        margin: 10px;
    }
    #contenido_index{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #carouselExampleIndicators{
        margin: auto;
        width: 80%;
    }
    .w-100{
        height: 400px;
        width: 80%;
    }
    /* Contenido historia */
    #contenido_historia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;
        width: 90%;
        margin: auto;
        background-color: rgba(223, 221, 221, 0.405);
    }
    #contenido_historia_historia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 20%;
        width: 100%;
    }
    #contenido_historia_formacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40%;
        width: 100%;
    }
    #contenido_historia_colores{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40%;
        width: 100%;
    }
    #contenido_historia_historia_titulo{
        font-size: 40px;
        margin: 10px;
    }
    #contenido_historia_historia_parrafo{
        font-size: 20px;
        margin: 10px;
    }
    #contenido_historia_formacion_titulo{
        width: 100%;
        font-size: 40px;
        margin: 10px;    
    }
    #contenido_historia_formacion_imagen{
        width: 50%;
        height: 350px;
        margin: 10px;
    }
    #contenido_historia_formacion_parrafo{
        font-size: 20px;
        margin: 10px;
    }
    #contenido_historia_colores_titulo{
        width: 100%;
        font-size: 40px;
        margin: 10px; 
    }
    #contenido_historia_colores_imagen{
        width: 50%;
        height: 300px;
        margin: 10px;
    }
    #contenido_historia_colores_parrafo{
        font-size: 20px;
        margin: 10px;    
    }
        /*Eventos*/
        .imagenes_historia:hover{
            transform: translate(48%)
                        scale(1.5, 1.5);
            position: sticky;
        }
    /* Contenido plantel*/
    #contenido_plantel{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 4% 32% 32% 32%;
        grid-template-areas:"A1 A3"
                            "A2 A4"
                            "A2 A5"
                            "A2 A6";
    }
    #contenido_plantel_area1{
        grid-area: A1;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
    }
    #contenido_plantel_area2{
        grid-area: A2;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
    }
    #contenido_plantel_area3{
        grid-area: A3;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
    }
    #contenido_plantel_area4{
        grid-area: A4;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
    }
    #contenido_plantel_area5{
        grid-area: A5;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
    }
    #contenido_plantel_area6{
        grid-area: A6;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
    }
    .contenido_plantel_img{
        height:90%;
        width: 250px;
    }
    .contenido_plantel_titulo{
        margin: 10px;
        font-size: 20px;
        height: inherit;
        width: fit-content;
    }
    /* Contenido estadisticas */
    #contenido_estadisticas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;
        width: 90%;
        background-color: rgba(121, 121, 122, 0.633);
        margin: auto;
    }
    #contenido_estadisticas_titulo_principal{
        font-size: 40px;
        margin: 10px;
    }
    #contenido_estadisticas_nacionales{
        width: 100%;
        background-color: rgba(198, 198, 202, 0.414);
    }
    #contenido_estadisticas_internacionales{
        width: 100%;
        background-color: rgba(198, 198, 202, 0.414);    
    }
    #contenido_estadisticas_imagenes{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        background-color: rgba(119, 118, 118, 0.678);
        margin: 10px;
        transition: all 2s;
    }
    #contenido_estadisticas_nacionales_titulo{
        width: 100%;
        font-size: 35px;
        margin: 10px;
    }
    #contenido_estadisticas_nacionales_tabla{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    #contenido_estadisticas_internacionales_titulo{
        width: 100%;
        font-size: 35px;
        margin: 10px;
    }
    #contenido_estadisticas_internacionales_tabla{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .imagenes_copas{
        width: 25%;
        height: inherit;
    }
        /*Eventos*/
        .imagenes_copas:hover{
            transform:translate(-20%, -20%);
            position: sticky;
        }
    /* Contenido contacto */
    #contenido_contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: 90%;
        margin: auto;
        animation-name: fondo;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }
    fieldset{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    legend{
        font-size: 25px;
    }
    #nombre{
        width: 55%;
        height: 20px;
        margin: 8px;
    }
    #email{
        width: 55%;
        height: 20px;
        margin: 8px;
    }
    #escribinos{
        width: 80%;
        height: 50px;
        margin: 8px;
    }
    #socio{
        margin: 8px;
    }
    #noticias{
        margin: 8px;
    }
    #checkbox{
        margin: 8px;
    }
    #enviar{
        margin: 8px;
        height: 20px;
        width: 20%;
    }
    #resetear{
        margin: 8px;
        height: 20px;
        width: 20%;
    }
            /*Eventos*/
        @keyframes fondo {
            0% {background-color: blue;}
            50% {background-color: yellow;}
            100% {background-color: blue;}
        }
    /* Pie de Pagina */
    footer{
        display: flex;
        background-color: rgb(5, 5, 131);
        height: 40px;
        justify-content: center;
        align-items: center;
    }
    #Copyright{
        display: flex;
        height: 40px;
        width: 50%;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 15px;
    }
    #link_redes{
        display: flex;
        height: 40px;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    #red_social1{
        width: 33%;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    #red_social2{
        width: 33%;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    #red_social3{
        width: 33%;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
}
/*PANTALLA MEDIA*/
@media only screen and (max-width:950px) and (min-width:490px){    
    /* Cabecera */
        #boca_shops{
            height: 150px;
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
        }
        #boca_shops_img{
            height: 150px;
        }
        nav{
            height: 50px;
            background-color: rgb(5, 5, 131);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        #nav_item1{
            list-style-type: none;
            width: 20%;
            text-align: center;
        }
        #nav_item2{
            list-style-type: none;
            width: 20%;
            text-align: center;
        }
        #nav_item3{
            list-style-type: none;
            width: 20%;
            text-align: center;
        }
        #nav_item4{
            list-style-type: none;
            width: 20%;
            text-align: center;
        }
        #nav_item5{
            list-style-type: none;
            width: 20%;
            text-align: center;
        }
        .link_paginas{
            text-decoration: none;
            font-size: 20px;
            color: #fff;
        }
        /*Formato Tabla*/
        table{
            margin: 10px;
            border: 1px solid black;
            height: 100%;
            width: 70%;
        }
        th{
            border: 1px solid black;
            font-size: 90%;
            text-align: center;
            padding: 2px;
        }
        td{
            border: 1px solid black;
            font-size: 90%;
            text-align: center;
            padding: 2px;
        }
        /* Contenido index */
        #contenido_index_area1{
            width: 90%;
            margin:auto
        }
        #contenido_index_titulo{
            font-size: 50px;
            margin: 10px;
        }
        #contenido_index_parrafo{
            font-size: 25px;
            margin: 10px;
        }
        #contenido_index{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        #carouselExampleIndicators{
            margin: auto;
            width: 80%;
        }
        .w-100{
            height: 300px;
            width: 80%;
        }
        /* Contenido historia */
        #contenido_historia{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90%;
            width: 90%;
            margin: auto;
            background-color: rgba(223, 221, 221, 0.405);
        }
        #contenido_historia_historia{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 20%;
            width: 100%;
        }
        #contenido_historia_formacion{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40%;
            width: 100%;
        }
        #contenido_historia_colores{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40%;
            width: 100%;
        }
        #contenido_historia_historia_titulo{
            font-size: 40px;
            margin: 10px;
        }
        #contenido_historia_historia_parrafo{
            font-size: 20px;
            margin: 10px;
        }
        #contenido_historia_formacion_titulo{
            width: 100%;
            font-size: 40px;
            margin: 10px;    
        }
        #contenido_historia_formacion_imagen{
            width: 50%;
            height: 25%;
            margin: 10px;
        }
        #contenido_historia_formacion_parrafo{
            font-size: 20px;
            margin: 10px;
        }
        #contenido_historia_colores_titulo{
            width: 100%;
            font-size: 40px;
            margin: 10px; 
        }
        #contenido_historia_colores_imagen{
            width: 50%;
            height: 25%;
            margin: 10px;
        }
        #contenido_historia_colores_parrafo{
            font-size: 20px;
            margin: 10px;    
        }
        /* Contenido plantel*/
        #contenido_plantel{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(128, 128, 128, 0.415);
            width: 80%;
            margin: auto;
        }
        .contenido_plantel_class{
            width: 70%;
            text-align: center;
            margin:0 auto;
        }
        .contenido_plantel_titulo{
            margin: 20px;
        }
        .contenido_plantel_img{
            width: 90%;
        }
        #contenido_plantel_tabla{
            margin: auto;
        }
        /* Contenido estadisticas */
        #contenido_estadisticas{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90%;
            width: 90%;
            background-color: rgba(121, 121, 122, 0.633);
            margin: auto;
        }
        #contenido_estadisticas_titulo_principal{
            font-size: 40px;
            margin: 10px;
        }
        #contenido_estadisticas_imagenes{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            
        }
        #contenido_estadisticas_nacionales{
            width: 100%;
            background-color: rgba(198, 198, 202, 0.414);
        }
        #contenido_estadisticas_internacionales{
            width: 100%;
            background-color: rgba(198, 198, 202, 0.414);    
        }
        #contenido_estadisticas_nacionales_titulo{
            width: 100%;
            font-size: 35px;
            margin: 10px;
        }
        #contenido_estadisticas_nacionales_tabla{
            width: 80%;
            margin: auto;
            text-align: center;
        }
        #contenido_estadisticas_internacionales_titulo{
            width: 100%;
            font-size: 35px;
            margin: 10px;
        }
        #contenido_estadisticas_internacionales_tabla{
            width: 80%;
            margin: auto;
            text-align: center;
        }
        .imagenes_copas{
            width: 50%;
            height: 300px;
        }
        /* Contenido contacto */
        #contenido_contacto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 600px;
            width: 90%;
            margin: auto;
            background-color: rgba(223, 221, 221, 0.405);
        }
        fieldset{
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        legend{
            font-size: 25px;
        }
        #nombre{
            width: 55%;
            height: 20px;
            margin: 8px;
        }
        #email{
            width: 55%;
            height: 20px;
            margin: 8px;
        }
        #escribinos{
            width: 80%;
            height: 50px;
            margin: 8px;
        }
        #socio{
            margin: 8px;
        }
        #noticias{
            margin: 8px;
        }
        #checkbox{
            margin: 8px;
        }
        #enviar{
            margin: 8px;
            height: 20px;
            width: 20%;
        }
        #resetear{
            margin: 8px;
            height: 20px;
            width: 20%;
        }
        /* Pie de Pagina */
        footer{
            display: flex;
            background-color: rgb(5, 5, 131);
            height: 40px;
            justify-content: center;
            align-items: center;
        }
        #Copyright{
            display: flex;
            height: 40px;
            width: 50%;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 15px;
        }
        #link_redes{
            display: flex;
            height: 40px;
            width: 50%;
            justify-content: center;
            align-items: center;
        }
        #red_social1{
            width: 33%;
            text-align: center;
            text-decoration: none;
            color: #fff;
        }
        #red_social2{
            width: 33%;
            text-align: center;
            text-decoration: none;
            color: #fff;
        }
        #red_social3{
            width: 33%;
            text-align: center;
            text-decoration: none;
            color: #fff;
        }
    }
/*PANTALLA CHICA*/
@media only screen and (max-width:490px){
    /* Cabecera */
    #boca_shops{
        height: 150px;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
    }
    #boca_shops_img{
        height: 150px;
    }
    nav{
        background-color: rgb(5, 5, 131);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #nav_item1{
        list-style-type: none;
        width: 20%;
        text-align: center;
    }
    #nav_item2{
        list-style-type: none;
        width: 20%;
        text-align: center;
    }
    #nav_item3{
        list-style-type: none;
        width: 20%;
        text-align: center;
    }
    #nav_item4{
        list-style-type: none;
        width: 20%;
        text-align: center;
    }
    #nav_item5{
        list-style-type: none;
        width: 20%;
        text-align: center;
    }
    .nav_item{
        margin: 5px;
    }
    .link_paginas{
        text-decoration: none;
        font-size: 20px;
        color: #fff;
    }
    /*Formato Tabla*/
    table{
        margin: 10px;
        border: 1px solid black;
        height: 100%;
        width: 70%;
    }
    th{
        border: 1px solid black;
        font-size: 90%;
        text-align: center;
        padding: 2px;
    }
    td{
        border: 1px solid black;
        font-size: 90%;
        text-align: center;
        padding: 2px;
    }
    /* Contenido index */
    #contenido_index_area1{
        width: 90%;
        margin:auto
    }
    #contenido_index_titulo{
        font-size: 50px;
        margin: 10px;
    }
    #contenido_index_parrafo{
        font-size: 25px;
        margin: 10px;
    }
    #contenido_index{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #carouselExampleIndicators{
        margin: auto;
        width: 80%;
    }
    .w-100{
        height: 200px;
        width: 80%;
    }
    /* Contenido historia */
    #contenido_historia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;
        width: 90%;
        margin: auto;
        background-color: rgba(223, 221, 221, 0.405);
    }
    #contenido_historia_historia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 20%;
        width: 100%;
    }
    #contenido_historia_formacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40%;
        width: 100%;
    }
    #contenido_historia_colores{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40%;
        width: 100%;
    }
    #contenido_historia_historia_titulo{
        font-size: 40px;
        margin: 10px;
    }
    #contenido_historia_historia_parrafo{
        font-size: 20px;
        margin: 10px;
    }
    #contenido_historia_formacion_titulo{
        width: 100%;
        font-size: 40px;
        margin: 10px;    
    }
    #contenido_historia_formacion_imagen{
        width: 50%;
        height: 25%;
        margin: 10px;
    }
    #contenido_historia_formacion_parrafo{
        font-size: 20px;
        margin: 10px;
    }
    #contenido_historia_colores_titulo{
        width: 100%;
        font-size: 40px;
        margin: 10px; 
    }
    #contenido_historia_colores_imagen{
        width: 50%;
        height: 25%;
        margin: 10px;
    }
    #contenido_historia_colores_parrafo{
        font-size: 20px;
        margin: 10px;    
    }
    /* Contenido plantel*/
    #contenido_plantel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.415);
        width: 100%;
        margin: auto;
    }
    .contenido_plantel_class{
        width: 70%;
        text-align: center;
        margin:0 auto;
    }
    .contenido_plantel_titulo{
        margin: 20px;
    }
    .contenido_plantel_img{
        width: 90%;
    }
    #contenido_plantel_tabla{
        margin: auto;
    }
    /* Contenido estadisticas */
    #contenido_estadisticas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;
        width: 90%;
        background-color: rgba(121, 121, 122, 0.633);
        margin: auto;
    }
    #contenido_estadisticas_titulo_principal{
        font-size: 40px;
        margin: 10px;
    }
    #contenido_estadisticas_nacionales{
        width: 100%;
        background-color: rgba(198, 198, 202, 0.414);
    }
    #contenido_estadisticas_internacionales{
        width: 100%;
        background-color: rgba(198, 198, 202, 0.414);    
    }
    #contenido_estadisticas_imagenes{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    #contenido_estadisticas_nacionales_titulo{
        width: 100%;
        font-size: 35px;
        margin: 10px;
    }
    #contenido_estadisticas_nacionales_tabla{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    #contenido_estadisticas_internacionales_titulo{
        width: 100%;
        font-size: 35px;
        margin: 10px;
    }
    #contenido_estadisticas_internacionales_tabla{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .imagenes_copas{
        width: 50%;
        height: 250px;
    }
    /* Contenido contacto */
    #contenido_contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: 90%;
        margin: auto;
        background-color: rgba(223, 221, 221, 0.405);
    }
    fieldset{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    legend{
        font-size: 25px;
    }
    #nombre{
        width: 55%;
        height: 20px;
        margin: 8px;
    }
    #email{
        width: 55%;
        height: 20px;
        margin: 8px;
    }
    #escribinos{
        width: 80%;
        height: 50px;
        margin: 8px;
    }
    #socio{
        margin: 8px;
    }
    #noticias{
        margin: 8px;
    }
    #checkbox{
        margin: 8px;
    }
    #enviar{
        margin: 8px;
        height: 20px;
        width: 20%;
    }
    #resetear{
        margin: 8px;
        height: 20px;
        width: 20%;
    }
    /* Pie de Pagina */
    footer{
        display: flex;
        background-color: rgb(5, 5, 131);
        height: 50px;
        justify-content: center;
        align-items: center;
    }
    #Copyright{
        display: flex;
        height: 40px;
        width: 50%;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 15px;
    }
    #link_redes{
        display: flex;
        height: 40px;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    #red_social1{
        width: 33%;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    #red_social2{
        width: 33%;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    #red_social3{
        width: 33%;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }     
}