* {
  margin: 0;
  padding: 0; }

table {
  margin: 10px;
  border: 1px solid black;
  height: 100%;
  width: 70%; }
  table th, table td {
    border: 1px solid black;
    font-size: 90%;
    text-align: center;
    padding: 2px; }

/* Header */
#boca_shops {
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  align-content: none;
  margin: none; }
  #boca_shops_img {
    height: 150px; }

nav {
  background-color: blue; }

.navbar-brand {
  color: white; }

.navbar-toggler {
  background-color: white; }

.nav-link {
  color: white; }

.nav-link.active {
  color: white; }

.navbar {
  --bs-navbar-hover-color: yellow; }

/* Main */
/* Contenido index */
#contenido_index {
  display: flex;
  flex-wrap: wrap;
  flex-direction: none;
  justify-content: space-between;
  align-items: none;
  align-content: none;
  margin: none; }
  #contenido_index_area {
    width: 90%;
    margin: auto; }
    #contenido_index_area_titulo {
      font-size: 50px;
      margin: 10px; }
    #contenido_index_area_parrafo {
      font-size: 25px;
      margin: 10px; }
  #contenido_index #carouselExampleIndicators {
    margin: auto;
    width: 70%; }
    #contenido_index #carouselExampleIndicators button span {
      background-color: blue; }
    #contenido_index #carouselExampleIndicators .carousel-indicators button {
      background-color: yellow;
      height: 10px; }

/* Contenido historia */
#contenido_historia {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  align-content: none;
  margin: auto;
  height: 90%;
  width: 90%;
  background-color: #c3c0c0; }
  #contenido_historia_historia {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    align-content: none;
    margin: none;
    height: 20%;
    width: 100%; }
    #contenido_historia_historia_titulo, #contenido_historia_formacion_titulo, #contenido_historia_colores_titulo {
      width: 100%;
      font-size: 40px;
      margin: 10px; }
    #contenido_historia_historia_parrafo, #contenido_historia_formacion_parrafo, #contenido_historia_colores_parrafo {
      font-size: 20px;
      margin: 10px;
      font-style: italic; }
  #contenido_historia_formacion {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    align-content: none;
    margin: none;
    height: 40%;
    width: 100%; }
  #contenido_historia_colores {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    align-content: none;
    margin: none;
    height: 40%;
    width: 100%; }

.accordion {
  --bs-accordion-active-color: blue;
  --bs-accordion-active-bg: yellow; }
  .accordion-button {
    font-size: 25px;
    font-weight: 700; }

/* Contenido estadisticas */
#contenido_estadisticas {
  width: 90%;
  margin: auto;
  background-color: rgba(250, 250, 250, 0.571); }

.Titulos_estadisticas {
  padding: 10px; }

.table {
  width: inherit;
  --bs-table-color: blue;
  --bs-table-bg: yellow;
  --bs-table-striped-color: yellow;
  --bs-table-striped-bg: blue; }

.imagenes_copas {
  width: 25%;
  height: inherit; }

/* Contenido contacto */
#contenido_contacto {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: none;
  margin: auto;
  height: 600px;
  width: 90%;
  animation-name: fondo;
  animation-duration: 6s;
  animation-iteration-count: infinite; }

/*Eventos*/
@keyframes fondo {
  0% {
    background-color: #07078b; }
  50% {
    background-color: #ffff06; }
  100% {
    background-color: #07078b; } }

/* Footer */
#Copyright {
  display: flex;
  flex-wrap: none;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  align-content: none;
  margin: none;
  height: 40px;
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 0.8rem; }
  #Copyright_parrafo {
    margin: auto; }

#link_redes {
  display: flex;
  flex-wrap: none;
  flex-direction: none;
  justify-content: space-around;
  align-items: center;
  align-content: none;
  margin: none;
  height: 40px;
  width: 50%;
  color: white;
  text-align: center;
  font-size: 0.8rem; }

.bi {
  color: white; }

/*PANTALLA GRANDE*/
@media only screen and (min-width: 950px) {
  /* Contenido index */
  .w-100 {
    height: 400px;
    width: 80%; }
  /* Contenido historia */
  #contenido_historia_formacion_imagen {
    width: 50%;
    height: 350px;
    margin: 10px; }
  /*Eventos*/
  .imagenes_historia:hover {
    transform: translate(48%) scale(1.5, 1.5);
    position: sticky; }
  /* Contenido plantel */
  #contenido_plantel {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 4% 96%;
    grid-template-areas: "A1 A3" "A2 A4"; }
    #contenido_plantel_area1 {
      grid-area: A1;
      display: flex;
      flex-wrap: none;
      flex-direction: column;
      justify-content: center;
      align-items: none;
      align-content: none;
      margin: none; }
    #contenido_plantel_area2 {
      grid-area: A2;
      display: flex;
      flex-wrap: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 20px; }
    #contenido_plantel_area3 {
      grid-area: A3;
      display: flex;
      flex-wrap: none;
      flex-direction: column;
      justify-content: center;
      align-items: none;
      align-content: flex-start;
      margin: none; }
    #contenido_plantel_area4 {
      grid-area: A4;
      display: flex;
      flex-wrap: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: none;
      align-content: flex-start;
      margin: none; }
  .contenido_plantel_titulo {
    margin: auto;
    font-size: 20px;
    height: inherit;
    width: fit-content; }
  /* Contenido estadisticas */
  #contenido_estadisticas_imagenes {
    display: flex;
    flex-wrap: none;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    align-content: none;
    margin: none;
    height: 300px; }
  /*Eventos*/
  .imagenes_copas:hover {
    transform: translate(0%, -30%);
    position: sticky; }
  /* Pie de Pagina */
  footer {
    display: flex;
    flex-wrap: none;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    align-content: none;
    margin: none;
    background-color: blue;
    height: 40px; } }

/*PANTALLA MEDIA*/
@media only screen and (max-width: 950px) and (min-width: 490px) {
  /* Contenido index */
  .w-100 {
    height: 300px;
    width: 80%; }
  /* Contenido historia */
  #contenido_historia_formacion_imagen {
    width: 50%;
    height: 25%;
    margin: 10px; }
  /* Contenido plantel*/
  #contenido_plantel {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: none;
    margin: auto;
    width: 90%; }
    #contenido_plantel_tabla {
      margin: auto; }
  .contenido_plantel_class {
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: center;
    align-items: none;
    align-content: none;
    margin: auto;
    width: 90%;
    text-align: center; }
  .contenido_plantel_titulo {
    margin: 20px; }
  .contenido_plantel_img {
    width: 90%; }
  /* Contenido estadisticas */
  #contenido_estadisticas_imagenes {
    display: flex;
    flex-wrap: none;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    align-content: none;
    margin: none;
    height: 200px; }
  /* Pie de Pagina */
  footer {
    display: flex;
    flex-wrap: none;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    align-content: none;
    margin: none;
    background-color: blue;
    height: 40px; } }

/*PANTALLA CHICA*/
@media only screen and (max-width: 490px) {
  /* Contenido index */
  .w-100 {
    height: 200px;
    width: 80%; }
  /* Contenido historia */
  #contenido_historia_formacion_imagen {
    width: 50%;
    height: 25%;
    margin: 10px; }
  /* Contenido plantel*/
  #contenido_plantel {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: none;
    margin: auto;
    width: 90%; }
    #contenido_plantel_tabla {
      margin: auto; }
  .contenido_plantel_class {
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: center;
    align-items: none;
    align-content: none;
    margin: auto;
    width: 90%;
    text-align: center; }
  .contenido_plantel_titulo {
    margin: 20px; }
  .contenido_plantel_img {
    width: 90%; }
  /* Contenido estadisticas */
  #contenido_estadisticas_imagenes {
    display: flex;
    flex-wrap: none;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    align-content: none;
    margin: none;
    height: 150px; }
  /* Pie de Pagina */
  footer {
    display: flex;
    flex-wrap: none;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    align-content: none;
    margin: none;
    background-color: blue;
    height: 60px; } }
