*{
    margin: 0;
    padding: 0;
}

@import "variables/colores";
@import "variables/tabla";

@mixin display_flex ($display , $flexwrap , $flex-dir , $justify , $aling , $content, $margin) {
    display: $display;
    flex-wrap: $flexwrap;
    flex-direction: $flex-dir;
    justify-content: $justify;
    align-items: $aling;
    align-content: $content;
    margin: $margin;
}

/* Header */
@import "partials/header";

/* Main */
@import "partials/main";

/* Footer */
@import "partials/footer";

/*PANTALLA GRANDE*/
@import "partials/pantallaGrande";

/*PANTALLA MEDIA*/
@import "partials/pantallaMedia";

/*PANTALLA CHICA*/
@import "partials/pantallaChica";
