table{
    margin: 10px;
    border: 1px solid black;
    height: 100%;
    width: 70%;
    th{
        border: 1px solid black;
        font-size: 90%;
        text-align: center;
        padding: 2px;
    }
    td{
        @extend th
    }
}